
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial";
}

a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(116, 124, 146, 0.5);
  position :fixed;
  top: 0;
  z-index: 10;
}



















footer p {
  color: #262626;
  font-size: 12px;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
